.col-right {
	padding-left: 0;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.form-control {
	border: 1px solid #DCDCDC;
}

.no-padding {
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.nav.nav-stacked {
	border-right: 0;
}

.nav.nav-stacked li a {
	padding: 8px 30px 8px 15px;
}

.section.section-standout, .section-inverse{
	padding: 30px 0;
}

#cc-notification, #cc-tag {
	display: none !important;
}